<div class="invitation" *ngIf="type === '1'">
  <header>
      <div class="logo" >
        <div  *ngFor="let el of qrcode.nom">
        <span class="laura">{{el.value}}</span>
        <span class="ampersand">&</span>
        
      </div>
        <div class="body1" *ngFor="let el of qrcode.choix">
          <span >{{el.key}}</span>
          <span >{{el.value}}</span>   
      </div>
      
       
             
      </div>
    </header>
    
</div>
<div class="invitation" *ngIf="type === '1'">
  <header>
      <div class="logo2">
     <img  style="width: 600px; height: 600px;" src="assets/img/pink.png" alt="">
     <header>
      <div>
        <div  *ngFor="let el of qrcode.nom">
        <span class="laura">{{el.value}}</span>
        <span class="ampersand">&</span>
        
      </div>
        <div class="body1" *ngFor="let el of qrcode.choix">
          <span >{{el.key}}</span>
          <span >{{el.value}}</span>   
      </div>
      </div>
    </header>
      </div>
    </header>
    
</div>
<!-- Facture  -->
<div class="container-ticket" *ngIf="type === '3'">
	<div class="ticket">
		<div class="head-ticket">
			<p class="x-bold">E.Leclerc</p>
			<p class="bold">33500 LIBOURNE</p>
			<p class="bold">Tél:</p>
			<br>
			<p class="bold">VOUS REMERCIE DE VOTRE CONFIANCE</p>
			<p>Caisse 015-2019 15 aôut 2017 18:24</p>
			<p>Ticket 15/08/170 0QRL 02000</p>
			<div class="code-barre">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="body-ticket">
			<div class="produits">
				<div class="col2">
					<p>YAO NAT LOU PERAC LAIT BREBIS F</p>
					<p class="prix">1.63</p>
				</div>
				<div class="hr-sm"></div>
				<div class="col2">
					<p>Total 1 article</p>
					<p class="prix">1.63</p>
				</div>
				<p>Soit en franc : 10.69</p>
				<p>(1 euro = 6,55957 francs)</p>
				<br>
				<div class="col2">
					<p>Bon achat carte</p>
					<p class="prix">1.63</p>
				</div>
				<div class="col2">
					<p>Rendu</p>
					<p class="prix">0.00</p>
				</div>
			</div>
			<div class="hr-lg"></div>
			<div class="carte">
				<p class="title-carte">Avec la carte E.Leclerc</p>
				<br>
				<div class="col2">
					<p>CUMUL DISPONIBLE AU 15/08/17 :</p>
					<p class="prix">31.63€</p>
				</div>
				<br>
				<p>Ce CUMUL DISPONIBLE est à valoir sur vos prochains achats dans tous les magasins E.LECLERC participant à l'opération et sur présentation de votre carte E.LECLERC.</p>
				<br>
				<p>Modalités, durée de validité à l'accueil</p>
			</div>
			<div class="hr-lg"></div>
		</div>
		<div class="footer-ticket">
			<p class="title-footer">Merci de votre<br>visite et à bientôt</p>
		</div>
	</div>
</div>