<div class="container">
    <div class="row">
        <div class="card shadow mb-4" style="margin-top: 60px;">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">URL</h6>
            </div>
            <div class="form-group">
                <label>Taper une Url Valide </label>
                <input [(ngModel)]="url.url" type="text" class="form-control" />
                <div class="invalid-feedback">
                    <div>Url is required</div>
                </div>
            </div>
            <div class="form-group ">

                <a  (click)="alertWithSuccess2()" (click)="creatQRcode()"> <img style="width:1.5em; height:1.5em;" src="assets/img/save.png" alt="">&nbsp;Enregistrer</a>&nbsp;&nbsp;
                <a   (click)="alertWithSuccess()" (click)="openPDF()"> <img style="width:1.5em; height:1.5em;" src="assets/img/pdf.png" alt="">&nbsp;Exporter</a>
            </div>
        </div>

        <!-- 
fgfgfgfgfgfgfgfgfgfgfgfgfgfgfgh -->


        <div class="container" id="htmlData">

            <h5 class="container d-flex justify-content-between text-primary ">QR-CODE</h5>

            <ngx-qrcode [elementType]="elementType" [value]="url.url" cssClass="aclass">
            </ngx-qrcode>

        </div>