<div class="container">

    <!-- Page Heading -->

    <div class="row">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Formulaire Libre</h6>
            </div>
            <div class="product-form">

                <div class="form-group" *ngFor="let el of Qr.nom"  >
                    <label>Nom </label>
                    <input type="text" class="form-control" [(ngModel)]="el.value" />
                    <div class="invalid-feedback">
                        <div>Name is required</div>
                    </div>
                </div>
                <a  (click)="addInput('nom')"> <img style="width:1.5em; height:1.5em;" src="assets/img/plus.png" alt="">&nbsp;</a>
              
                <div class="form-group" *ngFor="let el of Qr.email" >
                    <label>Email</label>
                    <input type="text" class="form-control" [(ngModel)]="el.value"  />
                    <div class="invalid-feedback">
                        <div>Description is required</div>
                    </div>
                </div>
                <a  (click)="addInput('email')"> <img style="width:1.5em; height:1.5em;" src="assets/img/plus.png" alt="">&nbsp;</a>
                

                <div class="form-group" *ngFor="let el of Qr.phone" >
                    <label>Numéro de Téléphone</label>
                    <input  type="text" class="form-control" [(ngModel)]="el.value" />
                    <div class="invalid-feedback">
                        <div>Téléphone is required</div>
                    </div>
                </div>
                <a  (click)="addInput('phone')"> <img style="width:1.5em; height:1.5em;" src="assets/img/plus.png" alt="">&nbsp;</a>
                
              
             
                <div class="form-group" *ngFor="let el of Qr.choix">
                    <label>Ajouter un nouveau champ</label>
                    <input  type="text" class="form-control" [(ngModel)]="el.key" />
                    <label>Description</label>
                    <input  type="text" class="form-control" [(ngModel)]="el.value" />
                   
                    <a  (click)="addphone('normale')"> <img style="width:1.5em; height:1.5em;" src="assets/img/plus.png" alt="">&nbsp;</a>
                </div>
                <!-- <button class="btn btn-primary" (click)="addphone('speciale')">add</button>
                <div class="form-group" *ngFor="let el of Qr.choix">
                <input  type="text" class="form-control" [(ngModel)]="el.value1" />
            </div> -->
                <label>Type</label>
                <select (click)="addType()" class="form-select" [(ngModel)]="opt" >
                 
                    <option value="1" [selected]="false"  >Invitaion mariage</option>
                    <option value="3"  [selected]="false">Facture</option>
                    <option value="4" [selected]="false">Autres</option>
                  </select><br>



                  <a class="float-right" (click)="submit()" > <img style="width:2.5em; height:2.5em;" src="assets/img/check.png" alt="">&nbsp;</a>
                
                    
               
            </div><br>
        </div><br>
    </div>
    
</div>